<ul>
  <li *ngFor="let name of names">
    <person-item [name]="name"></person-item>
  </li>
  <!-- #4 adds the nameChangedEvent -->
  <person-form (nameChangedEvent)="addName($event)"></person-form>
</ul>
