<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div [hidden]="username.valid || username.untouched">
        <div [hidden]="!username.hasError('required')">
            Username is required.
        </div>
    </div>
    <label for="username">username</label>
    <input type="text" name="username" id="username" [formControl]="username">
    <br> {{ password.valid }}

    <div [hidden]="password.valid || password.untouched">
        <div>
            The following problems have been found with the password:
        </div>

        <div [hidden]="!password.hasError('required')">
            The password is required.
        </div>

        <div [hidden]="!password.hasError('minlength')">
            Password must be longer than 8 characters.
        </div>

        <div [hidden]="!password.hasError('validPass')">
                Your password must not have special characters.
        </div>
    </div>
    <label for="password">password</label>
    <input type="password" name="password" id="password" [formControl]="password">
    <br>

    <button type="submit">Submit</button>
</form>