<!-- 6 -->
<div class="page-header">
  <div class="container">
    <h1>Simple Routes</h1>
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/about']">About Us</a>
      <a [routerLink]="['/contact']">Contact Us</a>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>