<h5>Shopping Example</h5>
<button (click)="empty()" class="btn">Empty Cart</button>

<counter-display label="Caps"
  [counter]="cap | async"
  (pick)="addCap()"></counter-display>

<counter-display label="Fedoras"
  [counter]="fedora | async"
  (pick)="addFedora()"></counter-display>

<!-- Q-->
<counter-display label="Deerstalkers"
  [counter]="deerstalker | async"
  (pick)="addDeerstalker()"></counter-display>

<button (click)="addFedoras()" class="btn">Add 3 Fedoras</button>

<p>Total Items: {{ total | async }}</p>
