<section class="card">
  <div class="card-content">
    <div class="card-title">Employee Create</div>
    First Name <input type="text" id="firstName" #firstName />
    Last Name <input type="text" id="lastName" #lastName />
<button (click) ="onSubmit(firstName.value,lastName.value)">Submit </button>

  </div>

  <div class="card-content">
    <div class="card-title">Employee Data</div>
    <ul class="collection">
      <li class="collection-item" *ngFor = "let e of employeeData">
        {{e.first_name}} {{e.last_name}}
      </li>
    </ul>
  </div>
</section>