<div class="container">
  <h1>Person Form</h1>
  <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div *ngIf="f.controls.name?.errors && f.controls.name?.touched" class="error">
       Name is required
    </div>
    {{ f.controls.name?.errors | json }}
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" 
             class="form-control" 
             id="name" 
             required
             [(ngModel)]="name" name="name"
             #spy>
             <br>TODO: remove this: {{spy.className}}
    </div>

    <button type="submit" class="btn btn-success" [disabled]="f.invalid">Submit</button>
    <!-- <button (ngSubmit)="onSubmit()" class="btn btn-success" [disabled]="f.invalid">Submit</button> -->

  </form>
</div>