<nav>
  <a [routerLink]="['/page-one']">Page One</a>
  <a [routerLink]="['/page-two', 123]">Page Two (id: 123)</a>
</nav>
<br>
<!-- Add programmatic route navigation; here and function. -->
<button (click)="goToPageTwoComponent()">Page Two (param: 999)</button>
<div>
  <router-outlet></router-outlet>
</div>

