<div>
    Total # of Employees: {{ (employees$ | async).length }}
    <hr />
    <li class="list-group-item" *ngFor="let item of (employees$ | async)">
        {{item.first_name}} {{item.last_name}}
        <button class="btn btn-xs pull-right" (click)="actions.deleteEmployee( item.id)">
            delete
        </button>
    </li>
</div>