<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></span>
    <span routerLinkActive="active"><a routerLink="/secured">Secured</a></span>
    <router-outlet></router-outlet>
</div>

