<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <app-guess-original></app-guess-original> -->
  <!-- <app-guess-refactored></app-guess-refactored> -->
  <!-- <app-guess-container></app-guess-container> -->

  <app-guess-using-service></app-guess-using-service>
</div>


