<div class="container">
  <h2>Guess Original</h2>
  <p class="well lead">Guess the number between 1 and 1000</p>

  <label>Your Guess</label>
  <input type="number" [(ngModel)]="guess" />
  <button (click)="verifyGuess()" class="btn btn-primary btm-sm">Submit</button>
  <button (click)="ngOnInit()" class="btn btn-primary btm-sm">Restart</button>


  <p *ngIf="deviation < 0" class="alert alert-warning">Your Guess is Higher 
  
  <p *ngIf="deviation > 0" class="alert alert-warning">Your Guess is Lower 
  <p *ngIf="deviation === 0" class="alert alert-success">You win!</p>
  


<p class="text-info"># of guesses : <span class="badge">{{guesses}}</span></p>

</div>