<button (click)="addEmployee()">Add Employee</button>
<ol>
    <li *ngFor="let employee of employees">
        {{ employee.surname }}
        <!-- (Q) -->
        <button (click)="deleteEmployee(employee.id)">
            delete
        </button>
    </li>
</ol>


