
@import '/assets/materialize/materialize.css';

/* Google Material Icons */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/googlefonts.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Eng Google Material Icons */

html {
  color: #212121;
}

body {
  background-color: #efefef;
}

select {
  display: inherit;
}

.btn {
  color: white;
  background-color: #2196F3
}

.btn:hover {
  background-color: #1976D2;
}

.btn-floating {
  background-color: #ff5252
}

.btn-floating:hover {
  background-color: #d50000
}

.simple-card {
  background-color: white;
  border: 1px solid #B6B6B6;
  padding: 3px;
  margin: 3px
}

.component-marker {
  color: #fff;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  padding: 0 9px;
  border-radius: 12px;
  background-color: #ff5252;
  float: right;
  transform: translate(8px, -8px);
}

a.btn-floating {
  float: right;
}

.green-background {
  background-color: green;
}

.unselectable {
  user-select: none;
}

.time-block div {
  background-color: #eaeaea;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 25px;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  text-align: center;
}

.number-column {
  text-align: right;
}

