<div>
    Total # of Employees: {{ (employees$ | async).list.length }}
    <form #f="ngForm" novalidate (ngSubmit)="save(f)">
        First Name<input type="text" name="first_name" 
               [ngModel]="activeEmployee?.first_name" required #labelRef class="form-control">
        Last Name<input type="text" name="last_name" 
               [ngModel]="activeEmployee?.last_name" required #labelRef class="form-control">
        Email<input type="text" name="email" 
               [ngModel]="activeEmployee.email" required class="form-control">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
            {{activeEmployee.id ? 'UPDATE' : 'ADD' }}
        </button>
        <button class="btn btn-default" type="button" 
                (click)="actions.resetActive()" *ngIf="activeEmployee.id">ADD NEW</button>
    </form>
    <hr />
    <li class="list-group-item" *ngFor="let item of (employees$ | async).list" 
        [ngClass]="{active: item.id === (active$ | async)?.id}"
        (click)="actions.setActiveEmployee(item.id)">
        {{item.first_name}} {{item.last_name}}
        <button class="btn btn-xs btn-danger pull-right" (click)="actions.deleteEmployee( item.id)">
            delete
        </button>
    </li>
</div>