<div class="container">
  <h1>User Form</h1>
  <!-- 
    novalidate prevents native browser validation; it's not Angular.
    NgForm directive added automatically, we reference with #f="ngForm".
    
   -->
  <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div *ngIf="f.controls.username?.errors && f.controls.username?.touched" class="error">
       Username is required
    </div>
    {{ f.controls.username?.errors | json }}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" 
             class="form-control" 
             id="username" 
             required
             [(ngModel)]="user.username" name="username"
             #spy>
             <br>TODO: remove this: {{spy.className}}
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" 
             class="form-control" 
             id="email"
             [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="secret">Questions</label>
      <select
        id="questions"
        class="form-control"
        [ngModel]="defaultQuestion"
        name="questions">
        <option *ngFor="let q of questions" [value]="q">{{ q }}</option>
      </select>
    </div>
    <div class="form-group">
      <textarea
        name="answer"
        rows="3"
        class="form-control"
        [(ngModel)]="answer"></textarea>
    </div>
    <p>Your reply: {{ answer }}</p>

    <button type="submit" class="btn btn-success" [disabled]="f.invalid">Submit</button>
    <!-- <button (ngSubmit)="onSubmit()" class="btn btn-success" [disabled]="f.invalid">Submit</button> -->

  </form>
</div>