<button (click)="addEmployee()">Add Employee</button>
<ol>
    <li *ngFor="let employee of employees">
        {{ employee.surname }}
        <!-- (Q) Add button to delete current employee. -->
    </li>
</ol>


