<div class="container">
  
 <p *ngIf="showHigh" class="alert alert-warning">Your Guess is Higher 
  
 <p *ngIf="showLow" class="alert alert-warning">Your Guess is Lower 
 <p *ngIf="showWin" class="alert alert-success">You win!</p>
  


<p class="text-info"># of guesses : <span class="badge">{{guesses}}</span></p>

</div>