<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <button (click)="incrementAsync()">Increment Async</button>
  <button (click)="decrementAsync()">Decrement Async</button>
  <h3>{{counter | async}}</h3>
</div>

