<div>
    Total # of Employees: {{ (employees$ | async).list.length }}
    <button class="btn btn-xs btn-danger pull-right" (click)="actions.getEmployees()">
        get
    </button>
    <button class="btn btn-xs btn-danger pull-right" (click)="actions.cancelEmployeeGet()">
        cancel
    </button>
    <hr />
    <li class="list-group-item" *ngFor="let item of (employees$ | async).list">
        {{item.first_name}} {{item.last_name}}
    </li>
</div>