<div class="container">
	<h2>Guess Using Service</h2>
	<p class="well lead">Guess the number 1 & 1000.</p>
	<label>Your Guess: </label><input type="number" [(ngModel)]="guess"/>
	<button (click)="verifyGuess()" class="btn btn-primary btn-sm">Submit</button>	
	<button (click)="ngOnInit()" class="btn btn-warning btn-sm">Restart</button>	
	<p>
    	<p *ngIf="!showHigh" class="alert alert-warning">Your guess is higher.
		<p *ngIf="!showLow" class="alert alert-warning">Your guess is lower.
		<p *ngIf="!showWin" class="alert alert-success">Yes! That's it.
	</p>
	<p class="text-info"># of guesses : <span class="badge">{{ guesses }}</span></p>
	<p class="text-info">Average # of guesses (all games): <span class="badge">{{ average }}</span><p>
	<div [hidden]="!loading">
		<div class="spinner">
			<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		</div>
	</div>	 
</div>