<div class="container">
  <h2>Guess Refactored</h2>
  <p class="welol lead">The average in guessing is {{averageWin}}</p>
  <p class="well lead">Guess the number between 1 and 1000</p>

  <label>Your Guess</label>
  <input type="number" [(ngModel)]="guess" />
  <button (click)="verifyGuess()" class="btn btn-primary btm-sm">Submit</button>
  <button (click)="ngOnInit()" class="btn btn-primary btm-sm">Restart</button>


  <p *ngIf="showHigh" class="alert alert-warning">Your Guess is Higher 
  
  <p *ngIf="showLow" class="alert alert-warning">Your Guess is Lower 
  <p *ngIf="showWin" class="alert alert-success">{{message}}</p>
  


<p class="text-info"># of guesses : <span class="badge">{{guesses}}</span></p>

</div>