<div class="container">
  <h2>Guess Container/Presentation</h2>
  <p class="well lead">Guess the number between 1 and 1000</p>

  <label>Your Guess</label>
  <input type="number" [(ngModel)]="guess" />
  <button (click)="verifyGuess()" class="btn btn-primary btm-sm">Submit</button>
  <button (click)="ngOnInit()" class="btn btn-primary btm-sm">Restart</button>

  <app-guess-presentation [guesses] = "guesses" [showWin]="showWin" 
  [showHigh]="showHigh" [showLow]="showLow"
  ></app-guess-presentation>

</div>